body {
    background-attachment: fixed;
    background-size: cover;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c646.672C118.604%2c655.741%2c195.309%2c523.922%2c295.148%2c459.259C394.54%2c394.885%2c528.385%2c371.117%2c585.563%2c267.418C643.584%2c162.189%2c627.253%2c30.286%2c595.591%2c-85.633C566.185%2c-193.295%2c484.556%2c-272.283%2c414.435%2c-359.11C341.613%2c-449.281%2c279.862%2c-549.76%2c177.246%2c-603.645C61.131%2c-664.619%2c-78.237%2c-730.057%2c-200.216%2c-681.873C-322.39%2c-633.613%2c-359.665%2c-481.617%2c-423.006%2c-366.537C-473.885%2c-274.097%2c-510.793%2c-179.764%2c-533.317%2c-76.679C-557.494%2c33.966%2c-612.621%2c155.539%2c-558.863%2c255.224C-505.104%2c354.91%2c-360.264%2c351.259%2c-267.498%2c416.235C-169.11%2c485.149%2c-119.772%2c637.513%2c0%2c646.672' fill='%230f2f43'%3e%3c/path%3e%3cpath d='M1440 1019.124C1523.362 1001.826 1565.333 911.608 1631.661 858.231 1689.196 811.9300000000001 1763.59 788.053 1803.971 726.22 1847.868 659.003 1879.807 577.849 1866.471 498.683 1853.2269999999999 420.067 1781.782 369.155 1733.174 305.96299999999997 1681.084 238.245 1648.461 150.08300000000003 1570.85 114.36700000000002 1489.586 76.97000000000003 1391.412 78.082 1307.949 110.27499999999998 1227.173 141.43099999999998 1178.452 218.90300000000002 1124.43 286.557 1072.53 351.554 1003.914 413.6 999.425 496.655 995.006 578.4110000000001 1069.653 639.168 1101.289 714.684 1134.321 793.531 1125.774 892.869 1189.353 950.015 1255.142 1009.1469999999999 1353.387 1037.097 1440 1019.124' fill='%231b577d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}
.Frontend {
    color:  #00cdac;
}
.YeGGi {
    color: #02aab0;
}
h1 {
    color:  #333333;

/* $primary-color: #02aab0;
$secondary-color: #00cdac;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; */
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    margin-left: 100px;
}
h1.secondtitle {
    margin-top: -30px;
}
h1.title {
    margin-top: 200px;
}
@media screen and (max-width: 600px) {
    h1 {
      font-size: 35px;
    }
    h1.secondtitle {
        margin-top: 0;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 25px;
    }
    h1.secondtitle {
        margin-top: 0;
    }
  }